apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-java-quarkus-ouumysxi
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-java-quarkus-ouumysxi:4d90ed11c73d91073749cc1ff698aa417d13a1e6@sha256:c09824c4ad613ca8ac3185b9ac7814ce59d231222c029d63a37474cdaa186f70
        name: container-image  
